// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// our colors
$dark-green: #1B463E;
$orange-red: #EE8C84;
$white: #FFFCF8;
$black: #1B1B1B;
