.list-bookclub{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid $dark-green;

  p{
    font-family: $button-font;
    font-size: 20px;
  }
}

#btn-list-club{
  margin-left: 10px;
}
