.text-bloc{
  margin: 24px 0;
  transition: 300ms;

  #request-text{
    margin: 12px 0;
  }

  p {
    font-size: 18px;
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 1rem;
  }
  a{
    text-decoration: none;
  }

  h2 {
    text-align: center;
  }


  .icon-red:hover, .icon-red:focus{
    color: $orange-red !important;
    opacity: 0.7;

  }

  .link-white:hover, .link-white:focus{
    color: $white !important;

  }
  .fa-circle-plus{
    font-size: 20px;
    margin-top: 12px;
  }
  .fa-arrow-right-long{
    font-size: 18px;
    margin-left: 6px;
    &hover{
      color: $dark-green !important;
    }
  }


  h3{
    margin-top: 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

  }
}

.text-bubble-personal-card {
  margin-right: 12%;
  margin-left: 12%;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $dark-green;
  margin-top: 2rem;
  transition: 300ms;
  a {
    padding: 4px 8px;
    margin: auto 0;
    font-style: $button-font !important;
    color: $dark-green !important;
  }
  &:hover {
    background-color: $dark-green;
    border: 1px solid $dark-green;
    cursor: pointer;
    a {
      color: $white !important;
    }
  }
}

.sticky-one {
  height: fit-content;
  position: sticky;
  top: 0px;
  right: 0px;
  border: 2px solid $dark-green;
  border-radius: 8px;
}


.icons {
  font-size: 18px;
  text-align: right;
  .not-available{
    color: $orange-red !important;
  }

  a:hover, a:focus{
    color: $orange-red !important;
    opacity: 0.7;
    }

}

.available{
  color: $dark-green;
  position: relative;
    .available-text{
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    .available:hover .available-text {
      visibility: visible;
    }
}

.not-available{
  color: $orange-red !important;
}

.show-element{
  // visibility: visible !important;
  display: inline-block !important;

}

.btn-request-library{
  margin: 0px 5px;
}

.inline-string{
  background-color: $dark-green;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

.green-link{
  color: $dark-green;
}
.green-link:hover, .green-link:focus{
  color: $dark-green !important;
  opacity: 0.7;
}

.show-modal{
  // background-color: rgba(0,0,0,0.3);
  background: rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}
