// grid-components on landing page
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  background-color: $dark-green;
  min-height: 100vh;
  max-height: 100vh;
}
.gc-pic { grid-area: 3 / 5 / 10 / 8; }
.gc-welcome { grid-area: 4 / 3 / 5 / 7;
  color: $white;
  text-align: left;
  border-radius: 4px;
  position: relative;
  left: 0.25rem;
}
.gc-slogan { grid-area: 9 / 6 / 10 / 10;
  text-align: center;
  color: $white;
  border-radius: 4px;
  padding: 16px;
  background: $dark-green;
  font-size: 1rem;
  position: relative;
  top: 2.25rem;
}
.gc-logo { grid-area: 5 / 3 / 6 / 6;
  text-align: center;
  border-radius: 4px;
  color: $dark-green;
  font-size: 42px !important;
  padding: 16px;
  background: rgba(255, 252, 248, 0.36);
  border-radius: 4px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}
.gc-btn { grid-area: 6 / 3 / 7 / 6;
position: relative;
top: 1.75rem;
}
.gc-btn2 { grid-area: 6 / 4 / 6 / 5;
position: relative;
top: 1.75rem;
}
.gc-scroll { grid-area: 11 / 2 / 11 / 5;
  text-align: center;
  color: $white;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 2rem;
}

// css style components
.home-img {
  height: 100%;
  width: 100%;
}

.icon-container {
  justify-content: center;
  align-items: center;
  color: $white !important;
  margin: 1rem 0 1rem 1rem;
  padding: 10px 10px;
  background-color: $orange-red;
  border-radius: 4px;
  opacity: 0.5;
  transition: 300ms;
  &:hover {
    opacity: 1;
    a {
      color: $black;
    }
  }
}

.feather{
   color: $white !important;
}
