<%# <div class="home-page">
<div class="container" id="landing-container">
  <h1 id="welcome">Welcome to</h1>

<div class="sign-btn">

    <a href="" class="button-small-secondary">Sign in</a>


    <a href="" class="button-primary-small-red">Sign up</a>

</div>


  <div>
    <h1 id="main-title">Book Buddy.</h1>
  </div>
  <div class="m-auto">
    <%= image_tag("https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60", id:"landing-image") %>
  <%# </div>
  <h2 id="text-box-green">Share your books, be eco-friendly, make new buddies.</h2>
  <section id="section05" class="demo">
    <a href="#section06" class="down-arrow"><span></span>Explore</a>
  </section>
</div>
</div> %>
