<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>

<p>Paragraph
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<a href="#">Link</a>

<p>Primary button</p>
<div class="button-container">
  <button class="primary-button" role="button">Sign in</button>
  <br>
  <br>
  <button class="primary-button-purple" role="button">Sign in</button>
</div>
<p>Secondary button</p>
<div class="button-container">
  <button class="secondary-button" role="button">Sign up</button>
  <br>
  <br>
  <button class="secondary-button-purple" role="button">Sign up</button>
</div>
