<%# new homepage-code

<div class="grid-container">
  <div class="gc-pic">
    <%= image_tag("https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60", class: "home-img") %>
  <%# </div>
  <div class="gc-slogan">
    <h2>Share your books, be eco-friendly, make new buddies.</h2>
  </div>
  <div class="gc-logo">
    <h1>Book Buddy.</h1>
  </div>
  <div class="gc-btn">
    <button class="button-primary-red">
      <a>Sign up</a>
    </button>
  </div>
    <button class="gc-btn2 button-small-secondary-red">
      <a>Sign up</a>
    </button>
  <div class="gc-welcome">
    <h1>Welcome to</h1>
  </div>
  <div class="gc-scroll">Scroll down to explore.</div>
</div> %>
