/* card product */
.card-product {
  overflow: hidden;
  background: $white;
  color: $dark-green;
  border: 1px solid $dark-green;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: $dark-green 4px 4px 0 0, $dark-green 4px 4px 0 1px;
  touch-action: manipulation;

  &:hover{
  //   box-shadow: 4px 4px 8px -3px #000000;
  //   transition: all 0.15s;
  box-shadow: $dark-green(0, 0, 0, .125) 0 4px 4px inset;
  outline: 0;
  }

  img {
    max-height: 160px !important;
    min-height: 160px !important;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    border-radius: 7px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
    font-family: $button-font;
    font-weight: 500;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .9;
    margin-bottom: 0;
    margin-top: 8px;
    font-family: $button-font;
  }

  .card-product-infos {
    padding: 16px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3{
    font-family: $button-font;
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
  }

  .card-price-km{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h4{
    font-family: $button-font;
    font-weight: 100;
    font-size: 10px;
  }

  .card-details{
    height: 20px;
  }
}
