.style-input {
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $dark-green;
  font-family: $button-font;
  color: $dark-green;
}

.label-form {
  color: $dark-green;
  font-family: $button-font;
}
