// .style-input {
//   border-radius: 4px;
//   background-color: $white;
//   border: 1px solid $dark-green;
//   font-family: $button-font;
//   color: $dark-green;
// }

// .label-form {
//   color: $dark-green;
//   font-family: $button-font;
// }

// .form-container {
//   margin: auto;
//   width: 400px;
// }
.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 4px;
  border: 1px solid $dark-green;
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .btn-form {
    width: 100%;
    margin-bottom: 20px;
    background-color: $dark-green;
    color: white;
  }
}

.hint-font {
  font-size: 12px;
}


.check_boxes {
  display: flex;
  flex-wrap: wrap;
}

.check_boxes > .form-check {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  margin-bottom: 10px;
}
