// icons
.icons-show {
  margin: 1rem 0;
  a {
    color: $black;
    text-decoration: none !important;
  }

  &:hover {
    a {
      transition-duration: 300ms;
      text-decoration: none !important;
      color: $orange-red;
    }
  }
}

// bookclub-links
.bookclub-show {
  margin: 1rem 0;
}

.bookclub-show-link {
  padding-top: 0.5rem;
  display: flex;
  a {
    font-weight: 200 !important;
    color: $black !important;
  }
  &:hover {
    a {
      transition-duration: 300ms;
      text-decoration: none !important;
      color: $orange-red;
    }
  }
}
